<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Текущие заявки </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" th:href="@{/css/detail.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    body {
      margin-top: 20px;
      background: #708090
    }
    </style>
</head>
<body>
<div class="container ">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container padding-bottom-3x mb-2">
        <div class="row">
            <div class="col-lg-4">
                <aside class="user-info-wrapper">

                    <div class="user-cover" th:style="'background-image: url('+@{/images/bg1.jpg}+');'">
                        <div class="user-avatar">
                            <img th:src="@{images/avatar.png}" alt="User"/></div>
                    </div>

                    <div class="user-info">
                        <div class="user-data">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row">Новые заявки:</th>
                                    <td><span class="badge badge-primary badge-pill" th:utext="${requestsCountByZero}"/>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row">Отложенные заявки:</th>
                                    <td><span class="badge badge-primary badge-pill"
                                              th:utext="${requestsCountByThree}"/>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row">Выполненые заявки:</th>
                                    <td><span class="badge badge-primary badge-pill" th:utext="${requestsCountTotal}"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </aside>

                <nav class=" list-group">
                    <a class="list-group-item" href="/current-applications"><i class="fa fa-cogs" aria-hidden="true"></i>Текущие заявки</a>
                    <a class="list-group-item" href="/"><i class="fa fa-paper-plane" aria-hidden="true"></i>Отправить
                        заявку</a>
                    <form th:action="@{/logout}" method="post">
                        <a class="list-group-item with-badge active"><i class="fa fa-sign-out"
                                                                        aria-hidden="true"></i>
                            <input type="submit" class="btn btn-primary" value="Выход"/> </a>
                    </form>
                </nav>
            </div>

            <div class="col-lg-8">
                <form th:action="'/completed-requests'" th:object="${request}" method="post">
                    <div class="form-row">
                        <div class="col">
                            <p><select th:field="*{shop}" class="form-control"><br>
                                <option value="">Выберите магазин</option>
                                <option th:value="'Дечебал 139'">Дечебал 139</option>
                                <option th:value="'Зелинский 7'">Зелинский 7</option>
                                <option th:value="'Дачия 10'">Дачия 10</option>
                                <option th:value="'Тестемицану 23'">Тестемицану 23</option>
                                <option th:value="'Докучаев 6'">Докучаев 6</option>
                                <option th:value="'Лев Толстой 24/1'">Лев Толстой 24/1</option>
                                <option th:value="'Штефа чел Маре 132'">Штефа чел Маре 132</option>
                                <option th:value="'Штефа чел Маре 135'">Штефае чел Маре 135</option>
                                <option th:value="'Пушкин 32'">Пушкин 32</option>
                                <option th:value="'Щусев 55'">Щусев 55</option>
                                <option th:value="'Каля Ешилор 16/6'">Каля Ешилор 16/6</option>
                                <option th:value="'Алеку Русо 15'">Алеку Русо 15</option>
                                <option th:value="'Мирча чел Бэтрын 24/6'">Мирча чел Бэтрын 24/6</option>
                                <option th:value="'Игорь Виеру 6/3'">Игорь Виеру 6/3</option>
                                <option th:value="'Индутриальная 59с'">Индутриальная 59с</option>
                                <option th:value="'Московский проспект 9/5'">Московский проспект 9/5</option>
                                <option th:value="'Мирча чел Бэтрын 2'">Мирча чел Бэтрын 2</option>
                                <option th:value="'Дачия 47/7'">Дачия 47/7</option>
                            </select></p>
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" th:field="*{dateSort}" id="start" name="trip-start"
                                   value="2021-03-04"
                                   min="2021-03-04" max="2030-12-31">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Найти</button>
                            <a href="/completed-requests" class="btn btn-primary">Сбросить фильтр</a>
                        </div>
                    </div>
                </form>
                <div class="padding-top-2x mt-2 hidden-lg-up"></div>

                <div th:each="el:${requests}" class="comment">
                    <div class="comment-body">
                        <p class="comment-text">
                        <h5 th:text="'Магазин: '+ ${el.shop}"></h5>
                        <div th:text="'Дата заявки: '+${el.dateCreated}"/>
                        <div th:switch="${el.state}">
                            <div th:case="'0'">Состояние: Новая заявка</div>
                            <div th:case="'1'">Состояние: Выполненая заявка</div>
                            <div th:case="'3'">Состояние: Отложенная заявка</div>
                        </div>
                        <div th:text="'Проблема: '+${el.problem}"/>
                        <div class="twolines" th:text="'Описание проблемы: '+${el.message}"/>

                        <div class="flex-container">
                            <div class="flex-item">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        th:attr="data-target='#bd-example-modal-lg'+${el.id}">
                                    Подробнее
                                </button>
                            </div>

                            <div class="modal fade bd-example-modal-lg" th:id="${'bd-example-modal-lg'+{el.id}}"
                                 tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle1">Подробнее</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">

                                            <div class="form-group">
                                                <form th:action="@{/edit-request-completed}" method="post">
                                                    <h6>
                                                        <div th:text="'Дата заявки: '+${el.dateCreated}"/>
                                                    </h6>
                                                    <h6>
                                                        <div th:switch="${el.state}">
                                                            <div th:case="'0'">Состояние: Новая заявка</div>
                                                            <div th:case="'3'">Состояние: Отложенная заявка
                                                            </div>
                                                        </div>
                                                    </h6>
                                                    <input type="hidden" name="id" th:value="*{el.id}">
                                                    <label>Магазин</label>
                                                    <input type="text" name="shop" th:value="*{el.shop}"
                                                           placeholder="Магазин" class="form-control"><br>
                                                    <label>Имя</label>
                                                    <input type="text" name="name" th:value="*{el.name}"
                                                           placeholder="Укажите Фамилию и Имя"
                                                           class="form-control"><br>
                                                    <label>Телефон</label>
                                                    <input type="text" name="phone" th:value="*{el.phone}"
                                                           placeholder="Укажите контактный телефон"
                                                           class="form-control"><br>
                                                    <label>Проблема</label>
                                                    <input type="text" name="problem" th:value="*{el.problem}"
                                                           placeholder="Выберите проблему"
                                                           class="form-control"><br>
                                                    <label>Описание проблемы</label>
                                                    <textarea rows="5" name="message" class="form-control"
                                                              th:text="*{el.message}"/><br>
                                                    <label>Коментарии</label>
                                                    <textarea rows="2" name="comment" class="form-control"
                                                              th:text="*{el.comment}"/><br>
                                                    <button type="submit" class="btn btn-primary">Ввод</button>
                                                </form>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        <div class="flex-item">
                            <form th:action="'/completed-requests/'+${el.id}+'/state0'"
                                  method="post">
                                <button type="submit" class="btn btn-primary">Вернуть
                                </button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!--<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>-->
<!--<script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
</body>
</html>