<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title> Текущие заявки </title>
    <meta http-equiv="refresh" content="300">
    <div class="info-label" th:insert="parts/head :: head"></div>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">

                <div class="user-cover" th:style="'background-image: url('+@{/images/bg1.jpg}+');'">
                    <div class="info-label" th:insert="parts/security :: security"></div>
                    <div class="user-avatar">
                        <img th:src="@{images/avatar.png}" alt="User"/></div>
                </div>

                <div class="user-info">
                    <div class="user-data">
                        <table class="table" th:insert="parts/execution-status :: execution-status"></table>
                    </div>
                </div>

            </aside>

            <nav class=" list-group">
                <a class="list-group-item with-badge active" data-toggle="modal"
                   th:attr="data-target='#bd-example-modal-lg'">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>Отправить заявку
                </a>
                <div th:insert="parts/request-modal :: request-modal"></div>

                <a class="list-group-item with-badge" href="/current-applications"><i
                        class="fa fa-refresh" aria-hidden="true"></i>Обновить</a>
                <a class="list-group-item" href="/completed/requests"><i class="fa fa-check-circle"
                                                                         aria-hidden="true"></i>Выполненые
                    заявки</a>

                <div sec:authorize="hasAuthority('ADMIN')">
                    <a class="list-group-item" href="/admin-panel"><i class="fa fa-cogs"
                                                                      aria-hidden="true"></i>Админка</a>
                </div>
                <form th:action="@{/logout}" method="post">
                    <a class="list-group-item with-badge active"><i class="fa fa-sign-out"
                                                                    aria-hidden="true"></i>
                        <input type="submit" class="btn btn-primary" value="Выход"/> </a>
                </form>
            </nav>

        </div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>

            <div th:each="el:${requests}" class="comment">
                <div class="comment-body">
                    <p class="comment-text"></p>
                    <p>
                    <div th:insert="parts/request :: request"></div>
                    <div class="flex-container">
                        <div class="flex-item">
                            <form th:action="'/current-applications/'+${el.id}+'/state1'" method="post">
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <button type="submit" class="btn btn-primary">Выполнить</button>
                                </div>
                                <div sec:authorize="hasAuthority('USER')">
                                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                                </div>
                            </form>

                            <form class="was-validated" th:action="'/current-applications/'+${el.id}+'/state2'"
                                  method="post">
                                <div sec:authorize="hasAuthority('SUPPORT')">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            th:attr="data-target='#bd-example-modal-lg-worker'+${el.id}">
                                        Выполнить
                                    </button>
                                    <div th:insert="parts/add-worker-to-request :: add-worker-to-request"></div>
                                </div>
                            </form>

                        </div>
                        <div class="flex-item">
                            <form th:action="'/current-applications/'+${el.id}+'/state4'" method="post">
                                <div sec:authorize="hasAuthority('SUPPORT')">
                                    <button type="submit" class="btn btn-primary">Завершить</button>
                                </div>
                            </form>
                        </div>

                        <div class="flex-item">
                            <form th:action="@{'/current-applications/'+${el.id}+'/state3'}"
                                  method="post">
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <button type="submit" class="btn btn-primary">Отложить</button>
                                </div>
                                <div sec:authorize="hasAuthority('SUPPORT')">
                                    <button type="submit" class="btn btn-primary">Отложить</button>
                                </div>
                            </form>
                        </div>
                        <div class="flex-item">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    th:attr="data-target='#bd-example-modal-lg'+${el.id}">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>
                            <div th:insert="parts/edit-application-modal :: edit-application-modal"></div>
                        </div>
                        <div class="flex-item">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    th:attr="data-target='#exampleModalCenter'+${el.id}">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            </button>
                            <div th:insert="parts/add-comment-modal:: add-comment-modal"></div>

                        </div>
<!--                        <div class="flex-item">-->
<!--                            <form th:action="@{/export/pdf}" method="post">-->
<!--                                <input type="hidden" name="id" th:value="*{el.id}">-->
<!--                                <button type="submit" class="btn btn-primary"><i class="fa fa-print"-->
<!--                                                                                 aria-hidden="true"></i></button>-->
<!--                            </form>-->
<!--                        </div>-->
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>