<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Обратная связь</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 align="center">Редактирвоание заявки</h1>
    <div th:each="el:${request}">
        <form th:action="'/all-request/'+${el.id}+'/edit'" method="post">
<h1>Название </h1>
            <input type="text" name="shop" th:value="*{el.shop}" placeholder="Магазин" class="form-control"><br>
            <input type="text" name="name" th:value="*{el.name}" placeholder="Укажите Фамилию и Имя"
                   class="form-control"><br>
            <input type="text" name="phone" th:value="*{el.phone}" placeholder="Укажите контактный телефон"
                   class="form-control"><br>
            <input type="text" name="problem" th:value="*{el.problem}" placeholder="Выберите проблему"
                   class="form-control"><br>
            <textarea rows="10" name="message" class="form-control" th:text="*{el.message}"/><br>

            <button type="submit" class="btn btn-success">Ввод</button>
          <a th:href="'/all-request/'+${el.id}" class="btn btn-success">Назад</a>
        </form>

    </div>

</div>
</body>
</html>