<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="${title}"/>
    <div class="info-label" th:insert="parts/head :: head"></div>
</head>
<body>
<h1 align="center">Заявка в ИТ-отдел</h1>
<div class="parent">
    <div class="col-lg-8">
        <div class="padding-top-2x mt-2 hidden-lg-up"></div>
        <div class="comment">
            <div class="comment-body">
                <p class="comment-text">
                    <form class="was-validated" action="/" th:action="@{/}" th:object="${request}" method="post">
                        <!--                        <h6 th:errors="*{shop}" class="error"/>-->
                <p><select th:field="*{shop}" class="custom-select" required><br>
                    <option value="">Выберите магазин из списка</option>
                    <option th:each="el : ${shops}"
                            th:value="${el.name}" th:text="${el.name}"></option>
                </select></p>

                <div class="input-group">
                    <input type="text" th:field="*{name}" placeholder="Укажите Фамилию и Имя" pattern="^[a-zA-Z ]+$" class="form-control"
                           id="validationCustom03" aria-describedby="inputGroupPrepend" required><br>
                    <div class="invalid-feedback">
                        Укажите Фамилию и Имя
                    </div>
                </div>

                <div class="input-group">
                    <input type="tel"  th:field="*{phone}"  pattern="^[ 0-9]+$" placeholder="Укажите контактный телефон" class="form-control"
                           id="validationCustom04" aria-describedby="inputGroupPrepend" required><br>
                    <div class="invalid-feedback">
                        Укажите контактный телефон
                    </div>
                </div>

                <p><select th:field="*{problem}" class="custom-select" required><br>
                    <option value="">Выберите проблему из списка</option>
                    <option th:each="el : ${problems}"
                            th:value="${el.name}" th:text="${el.name}"></option>
                </select></p>

                <div class="input-group">
                <textarea rows="8" th:field="*{message}" placeholder="Описание проблемы" class="form-control"
                          id="validationCustom05" aria-describedby="inputGroupPrepend" required></textarea><br>
                    <div class="invalid-feedback">
                        Описание проблемы
                    </div>
                </div>
<!--                <div class="input-group">-->
<!--                    <input type="file" accept="image/*">-->
<!--                </div>-->
                <button type="submit" id="sendMail" class="btn btn-primary">Отправить</button>
                <a href="/current-applications" class="btn btn-primary">Заявки</a>
                </form>

                <div id="errorMess"></div>
                </p>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/validation.js}"></script>
</body>
</html>