<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>В обработке </title>
    <meta http-equiv="refresh" content="300">
    <div class="info-label" th:insert="parts/head :: head"></div>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">

                <div class="user-cover" th:style="'background-image: url('+@{/images/bg1.jpg}+');'">
                    <div class="info-label" th:insert="parts/security :: security"></div>
                    <div class="user-avatar">
                        <img th:src="@{/images/avatar.png}" alt="User"/></div>
                </div>

                <div class="user-info">
                    <div class="user-data">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">Выполняются:</th>
                                <td><span class="badge badge-primary-postpone badge-pill"
                                          th:utext="${requestsCountByTwo}"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </aside>

            <nav class=" list-group"><a class="list-group-item with-badge" href="/request/in-progress"><i
                    class="fa fa-refresh" aria-hidden="true"></i>Обновить</a>
                <nav class=" list-group"><a class="list-group-item with-badge" href="/current-applications"><i
                        class="fa fa-reply" aria-hidden="true"></i>Назад</a>
                    <form th:action="@{/logout}" method="post">
                        <a class="list-group-item with-badge active"><i class="fa fa-sign-out"
                                                                        aria-hidden="true"></i>
                            <input type="submit" class="btn btn-primary" value="Выход"/> </a>
                    </form>
                </nav>
            </nav>
        </div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>

            <div th:each="el:${requests}" class="comment">
                <div class="comment-body">
                    <p class="comment-text"></p>
                    <h3 th:text="'Магазин: '+ ${el.shop}"></h3>
                    <div th:text="'Дата заявки: '+${el.dateCreated}"/>
                    <div th:switch="${el.state}">
                        <div class="badge badge-primary-new badge-pill" th:case="'0'">Состояние: Новая заявка</div>
                        <div class="badge badge-primary-postpone badge-pill" th:case="'2'"><i
                                class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> Состояние: Выполняется...
                        </div>
                        <div class="badge badge-primary-expects badge-pill" th:case="'4'"><i
                                class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> Состояние: Выполнена. Ожидает
                            подтверждения...
                        </div>
                        <div class="badge badge-primary-postpone badge-pill" th:case="'3'">Состояние: Отложенная
                            заявка
                        </div>
                    </div>

                    <div th:text="'Проблема: '+${el.problem}"/>
                    <div class="twolines" th:text="'Описание проблемы: '+${el.message}"/>
                    <div th:text="'Исполнитель: '+${el.worker.get(0)}"/>
                    <div class="flex-container">
                        <div class="flex-item">
                            <form th:action="'/current-applications/'+${el.id}+'/state1'" method="post">
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <button type="submit" class="btn btn-primary">Выполнить</button>
                                </div>
                            </form>

                        </div>
                        <div class="flex-item">
                            <form th:action="@{'/current-applications/'+${el.id}+'/state3'}"
                                  method="post">
                                <input type="hidden" name="id" th:value="*{el.id}">
                                <input type="hidden" name="state" th:value="*{el.state=3}">
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <button type="submit" class="btn btn-primary">Отложить</button>
                                </div>
                                <div sec:authorize="hasAuthority('SUPPORT')">
                                    <button type="submit" class="btn btn-primary">Отложить</button>
                                </div>
                            </form>
                        </div>

                        <div class="flex-item">
                            <form th:action="'/current-applications/'+${el.id}+'/state4'" method="post">
                                <div sec:authorize="hasAuthority('SUPPORT')">
                                    <button type="submit" class="btn btn-primary">Завершить</button>
                                </div>
                            </form>
                        </div>

                        <div class="flex-item">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    th:attr="data-target='#bd-example-modal-lg'+${el.id}">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>
                            <div th:insert="parts/edit-application-modal :: edit-application-modal"></div>
                        </div>
                        <div class="flex-item">

                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    th:attr="data-target='#exampleModalCenter'+${el.id}">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            </button>

                            <div th:insert="parts/add-comment-modal:: add-comment-modal"></div>

                        </div>
                        <div class="flex-item">
                            <form th:action="@{/export/pdf}" method="post">
                                <input type="hidden" name="id" th:value="*{el.id}">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-print"
                                                                                 aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>