<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Выпоненые заявки </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/detail.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container ">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <aside class="user-info-wrapper">

                    <div class="user-cover" th:style="'background-image: url('+@{/images/bg1.jpg}+');'">
                        <div class="info-label" th:insert="parts/security :: security"></div>
                        <div class="user-avatar">
                            <img th:src="@{/images/avatar.png}" alt="User"/></div>
                    </div>

                    <div class="user-info">
                        <div class="user-data">

                        </div>
                    </div>


                </aside>

                <nav class=" list-group">
                    <a class="list-group-item" href="/admin-panel"><i class="fa fa-reply-all"
                                                                      aria-hidden="true"></i></i>Назад</a>
                    <form th:action="@{/logout}" method="post">
                        <a class="list-group-item with-badge active"><i class="fa fa-sign-out"
                                                                        aria-hidden="true"></i>
                            <input type="submit" class="btn btn-primary" value="Выход"/> </a>
                    </form>
                </nav>
            </div>
            <div class="col-lg-8">

                <div class="form-row">
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                th:attr="data-target='#bd-example-modal-lg'">
                            Добавить исполнителя
                        </button>
                        <span th:utext="${message}"/>
                        <form th:object="${worker}" th:action="@{/worker}" th:method="post">
                            <div th:insert="parts/add-worker-modal :: add-worker-modal"></div>
                        </form>
                    </div>
                </div>

                <div class="comment">
                    <div class="comment-body">

                        <table class="table table-sm">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Имя и Фамилия</th>
                                <th scope="col">Должность</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="el:${workers}">
                                <tr>
                                    <td>
                                        <div th:text="${el.name}"/>
                                    </td>
                                    <td>
                                        <span th:text="${el.position}"/>

                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                th:attr="data-target='#bd-example-modal-lg'+${el.id}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>

                                        <form th:action="@{/worker/edit}" th:method="post">
                                            <input type="hidden" name="userId" th:value="*{el.id}"/>
                                            <div th:insert="parts/edit-worker-modal :: edit-worker-modal"></div>
                                        </form>

                                    </td>
                                    <td>
                                        <form th:action="@{/worker/remove}" th:method="post">
                                            <input type="hidden" name="userId" th:value="*{el.id}"/>
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-times" aria-hidden="true"></i></button>
                                        </form>

                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>