<div th:fragment="edit-position">
    <div class="modal fade bd-example-modal-lg" th:id="${'bd-example-modal-lg'+{el.id}}"
         tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle1">Редактировать должность</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="userId" th:value="*{el.id}"/>
                        <label>Название должности</label>
                        <input type="text" name="name" th:value="*{el.name}" class="form-control"><br>

                        <button type="submit" class="btn btn-primary">Ввод</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>