<div th:fragment="edit-request">
    <div class="modal fade bd-example-modal-lg" th:id="${'bd-example-modal-lg'+{el.id}}"
         tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle1">Подробнее</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="badge badge-primary-completed badge-pill">Состояние:
                                    Выполненая заявка
                                </div>
                                <h6>
                                    <div th:text="'Дата подачи заявки: '+${el.dateCreated}"/>
                                    <div th:text="'Дата начала выполнения заявки: '+${el.execution}"/>
                                    <div th:text="'Дата завершения заявки: '+${el.dateEnd}"/>
                                    <div th:text="'Дата закрытия заявки: '+${el.dateClose}"/>
                                </h6>
                            </div>
                            <div class="col-md -5">
                                <div class="modal-body">
                                    <label>Исполнитель</label>
                                    <p><select class="form-control" name="workerId" required><br>
                                        <th:block th:if="${el.worker.size != 0}">
                                            <th:block th:each="n:*{el.worker}">
                                                <option th:text="*{n}"></option>
                                            </th:block>
                                            <option th:each="n:*{el.worker}" th:text="${n}"></option>
                                        </th:block>
                                    </select></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label>Магазин</label>
                                <p><select class="form-control" name="shop"><br>
                                    <option th:value="*{el.shop}" th:text="*{el.shop}"></option>
                                    <option th:each="element : ${shops}"
                                            th:value="${element.name}" th:text="${element.name}"></option>
                                </select></p>
                            </div>

                            <div class="col-md-5">
                                <label>Проблема</label>
                                <p><select class="form-control" name="problem"><br>
                                    <option th:value="*{el.problem}" th:text="*{el.problem}"></option>
                                    <option th:each="el : ${problems}"
                                            th:value="${el.name}" th:text="${el.name}"></option>
                                </select></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <label>Имя и Фамилия</label>
                                <input type="text" name="name" th:value="*{el.name}"
                                       placeholder="Укажите Фамилию и Имя"
                                       class="form-control"><br>
                            </div>
                            <div class="col-md-5">
                                <label>Телефон</label>
                                <input type="text" name="phone" th:value="*{el.phone}"
                                       placeholder="Укажите контактный телефон"
                                       class="form-control"><br>
                            </div>
                        </div>

                        <label>Описание проблемы</label>
                        <textarea rows="5" name="message" class="form-control"
                                  th:text="*{el.message}"/><br>
                        <label>Коментарии</label>
                        <textarea rows="2" name="comment" class="form-control"
                                  th:text="*{el.comment}"/><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>