<div th:fragment="registration-modal">

    <div class="modal fade bd-example-modal-lg" th:id="${'bd-example-modal-lg'}"
         tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle1">Добавить Нового пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Пользователь</label>
                        <input type="text" class="form-control" placeholder="Имя пользователя " name="username"/><br/>

                        <label>Пароль</label>
                        <input type="password" class="form-control" placeholder="Пароль" name="password"/><br/>

                        <label>Имя</label>
                        <input type="name" class="form-control" placeholder="Укажите Фамилию и Имя" name="name"/><br/>

                        <label>Магазин</label>
                        <p><select class="form-control" name="shop"><br>
                            <option th:each="element : ${shops}"
                                    th:value="${element.name}" th:text="${element.name}"></option>
                        </select></p>
                        </div>
                        <div class="form-group log-status">
                            <p><select class="form-control" name="roles"><br>
                                <option value="">Задать права</option>
                                <option th:each="roles : ${T(md.support.support.models.Role).values()}"
                                        th:value="${roles}" th:text="${roles}"></option>
                            </select></p>
                        </div>

                        <label>Телефон</label>
                        <input type="phone" class="form-control" placeholder="Телефон" name="phone"/><br/>

                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Почтовый адресс" name="email"/><br/>

                        <button type="submit" class="btn btn-primary">Ввод</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>