<div th:fragment="security">
    <!--    <div sec:authorize="isAuthenticated()">-->
    <!--        <span th:text="${#authentication.name}"></span>-->
    <!--    </div>-->
    <div th:each="el:${user}">
        <table>
            <tbody>
            <tr>
                <th align="left" th:text="${el.name}"/>
            </tr>
            <tr>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <th th:each="n:${el.roles}"
                        th:text="*{n}"/>

                </div>
                <div sec:authorize="hasAuthority('SUPPORT')">
                    <th th:each="n:${el.roles}"
                        th:text="*{n}"/>
                </div>
                <div sec:authorize="hasAuthority('USER')">
                    <th th:each="n : *{el.shop}" th:text="${n}"/>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>