<div th:fragment="security">
    <!--    <div sec:authorize="isAuthenticated()">-->
    <!--        <span th:text="${#authentication.name}"></span>-->
    <!--    </div>-->
    <div th:each="el:${user}">
        <table>
            <tbody>
            <tr>
                <th align="left" th:text="${el.name}"/>
            </tr>
            <tr>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <th th:utext="${el.roles}"/>
                </div>
                <div sec:authorize="hasAuthority('SUPPORT')">
                    <th th:utext="${el.roles}"/>
                </div>
                <div sec:authorize="hasAuthority('USER')">
                    <th th:utext="${el.shop}"/>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>